.App {
  min-height: 100vh;
  background-color: #282c34;
}
.App-header {
  padding: 100px 0 40px;
  font-size: 24px;
  color: white;
}
.content {
  display: flex;
  align-items: justify-content-between;
}
.input {
  width: 400px;
  height: 40px;
}
.textarea {
  width: 100%;
  height: 300px;
  display: block;
}
.right, .left {
  flex: 1;
}
.right {
  background-color: #fff;
  color: #282c34;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
